<!DOCTYPE html>
<html>
<head>
    <title>What the HECK!</title>
</head>
<body>
    <p>
   2022-06-01 12:04:47.975  INFO 47920 --- [  restartedMain] c.b.m.MyspringprojectApplication         : Starting MyspringprojectApplication using Java 11.0.15 on bhima-Lenovo-ideapad-310-Touch-15ISK with PID 47920 (/home/bhima/dev/mod4/myspringproject/target/classes started by bhima in /home/bhima/dev/mod4/myspringproject)
   2022-06-01 12:04:47.976  INFO 47920 --- [  restartedMain] c.b.m.MyspringprojectApplication         : No active profile set, falling back to default profiles: default
   2022-06-01 12:04:48.444  INFO 47920 --- [  restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port(s): ${name} (http)
   2022-06-01 12:04:48.447  INFO 47920 --- [  restartedMain] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
   2022-06-01 12:04:48.448  INFO 47920 --- [  restartedMain] org.apache.catalina.core.StandardEngine  : Starting Servlet engine: [Apache Tomcat/9.0.56]
   2022-06-01 12:04:48.463  INFO 47920 --- [  restartedMain] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
   2022-06-01 12:04:48.464  INFO 47920 --- [  restartedMain] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 482 ms
   2022-06-01 12:04:48.577  INFO 47920 --- [  restartedMain] o.s.b.a.w.s.WelcomePageHandlerMapping    : Adding welcome page: class path resource [static/index.html]
   2022-06-01 12:04:48.640  INFO 47920 --- [  restartedMain] o.s.b.d.a.OptionalLiveReloadServer       : LiveReload server is running on port 35729
   2022-06-01 12:04:48.680  INFO 47920 --- [  restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port(s): 8080 (http) with context path ''
   2022-06-01 12:04:48.691  INFO 47920 --- [  restartedMain] c.b.m.MyspringprojectApplication         : Started MyspringprojectApplication in 0.763 seconds (JVM running for 1725.67)
   2022-06-01 12:04:48.697  INFO 47920 --- [  restartedMain] .ConditionEvaluationDeltaLoggingListener : Condition evaluation unchanged
    </p>
</body>
</html>